div:nth-child(3){
    color:red;
}
div:nth-child(4){
    color:pink;
}
div:nth-child(5){
    color:orange;
    size: 40px;
}
div:nth-child(6){
    color:purple;
}
div:nth-child(7){
    color:rosybrown;
}