ol {
    background-color: yellow;
}

ol li:nth-of-type(2n+1){
    color: green;
}

ol li:nth-of-type(2n+2){
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    color: red;
}

h1 em, h2 em, h3 em, h4 em{
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}


